@model BiodataCRUD.BIODATA

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>BIODATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hometown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hometown)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
